# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.env
*.sqlite3

# Virtual environment
venv/
env/
.venv/

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Mac
.DS_Store

# Windows
Thumbs.db
